
<header class="header" ng-class="{ 'header--nav-active': header.showNav === true }">

    <section class="header__container">

        <div class="header__logo">
            <a href="/" ng-click="header.showNav = false; Main.scrollToEle('');" title="home">
                <img src="img/logos/black-marked-logo-white.webp" class="img" data-og="png" alt="black marked logo">
            </a>
        </div>


        <nav class="header__nav" ng-class="{ 'nav--active': header.showNav === true }">

            <ul>

                <li>
                    <a href="/portfolio" ng-click="header.showNav = false;" title="portfolio">
                        <i class="icon-suitcase"></i>
                        <span>portfolio</span>
                    </a>
                </li>
                <li>
                    <!-- href="#services" -->
                    <a ng-click="header.showNav = false; Main.scrollToEle('services');" title="services">
                        <i class="icon-th-large"></i>
                        <span>services</span>
                    </a>
                </li>

                <li>
                    <!-- href="#contact" -->
                    <a ng-click="header.showNav = false; Main.scrollToEle('contact');" title="contact">
                        <i class="icon-envelope"></i>
                        <span>contact</span>
                    </a>
                </li>
            </ul>

        </nav>

    </section>

</header>


<!-- Router Outlet -->
<router-outlet></router-outlet>

